In [4]:
import csv
import json
import pandas as pd

In [2]:
# Takes the file paths as arguments
def make_json(csvFilePath, jsonFilePath):
     
    # create a dictionary
    data = {}
     
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary
        # and add it to data
        for rows in csvReader:
             
            # Assuming a column named 'No' to
            # be the primary key
            key = rows['Country name']
            data[key] = rows
 
    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))

In [6]:
csvFilePath = r'Resources/happiness_report_2021.csv'
jsonFilePath = r'Resources/happiness_report.json'

In [7]:
make_json(csvFilePath, jsonFilePath)

In [3]:
path= r'Resources/gini_index_2021.csv'
jsonFilePath = r'Resources/gini_index_2021.json'

In [5]:
gini = pd.read_csv(path)
gini.head()

    Country name  Index of institutional trust  Gini coefficient of income
0  United States                         0.250                       47.51
1          Egypt                         0.446                       31.56
2        Morocco                         0.397                       39.55
3        Lebanon                         0.107                       31.83
4   Saudi Arabia                         0.651                       45.90

In [6]:
make_json(path, jsonFilePath)

In [8]:
path3=r'Resources/unemployment_2021.csv'
jsonFilePath = r'Resources/unemployment_2021.json'
unemp = pd.read_csv(path3)
unemp.head()

                  Country name  Unemployment rate
0                        Aruba                NaN
1  Africa Eastern and Southern           8.111783
2                  Afghanistan          13.283000
3   Africa Western and Central           6.839009
4                       Angola           8.530000

In [9]:
make_json(path3, jsonFilePath)