In [1]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [2]:
pd.set_option('display.max_rows', None)

# Extract and Transform Datasets

### <em>World Happiness Report 2021(2021.csv)</em>

In [3]:
# Load the World Happiness Report 2021 dataset.
file_path = "../Resources/2021.csv"
happiness_2021_df = pd.read_csv(file_path)

# Re-name column to ensure merge later on
happiness_2021_df.rename(columns = {'Country name':'Country'}, inplace = True)

happiness_2021_df.head(10)

,Country,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.3,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.7,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.6,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.4,0.929,0.134,0.242,2.43,1.400,1.094,0.785,0.665,0.276,0.445,2.612
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.3,0.908,0.042,0.481,2.43,1.492,1.062,0.782,0.640,0.215,0.292,2.784

In [4]:
#Note: The choice of Dystopia as a benchmark permits every real country to
    #have a positive (or at least zero) contribution from each of the six factors.
    #Since our objective is to fit the best predictive model, we should not use Dystopia.

In [5]:
# Drop unnecessary columns from the DataFrame.
hpp_clean_df = happiness_2021_df.drop(['Regional indicator', 'Standard error of ladder score','upperwhisker', 'lowerwhisker',
                                         'Ladder score in Dystopia', 'Explained by: Log GDP per capita',
                                         'Explained by: Social support', 'Explained by: Healthy life expectancy',
                                         'Explained by: Freedom to make life choices', 'Explained by: Generosity',
                                         'Explained by: Perceptions of corruption', 'Dystopia + residual'], axis = 1)

# Rename column 'Ladder score' to 'Happiness score'.
hpp_clean_df = hpp_clean_df.rename(columns = {'Ladder score':'Happiness score'})
print(hpp_clean_df.shape)
hpp_clean_df.head()

(149, 8)

,Country,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [6]:
# Replace country name to match with 'happiness_df'.
hpp_clean_df["Country"].replace(['Slovak Republic', 'Korea, Rep.','Kyrgyz Republic','Russian Federation','Hong Kong S.A.R. of China','Congo, Rep.',
                                           "Cote d'Ivoire",'Gambia, The','Lao PDR','Venezuela, RB','Eswatini','Iran, Islamic Rep.','Egypt, Arab Rep.',
                                          'Yemen, Rep.','Palestinian Territories','Taiwan Province of China'], 
                                          ['Slovakia','South Korea','Kyrgyzstan','Russia','Hong Kong',"Congo (Brazzaville)",'Ivory Coast','Gambia',
                                           'Laos','Venezuela','Swaziland','Iran','Egypt', 'Yemen','Palestine','Taiwan'], inplace = True)

In [7]:
# Drop unnecessary columns from the DataFrame.
hpp_clean_df = happiness_2021_df.drop(['Regional indicator', 'Standard error of ladder score','upperwhisker', 'lowerwhisker',
                                         'Ladder score in Dystopia', 'Explained by: Log GDP per capita',
                                         'Explained by: Social support', 'Explained by: Healthy life expectancy',
                                         'Explained by: Freedom to make life choices', 'Explained by: Generosity',
                                         'Explained by: Perceptions of corruption', 'Dystopia + residual'], axis = 1)

# Rename column 'Ladder score' to 'Happiness score'.
hpp_clean_df = hpp_clean_df.rename(columns = {'Ladder score':'Happiness score'})
print(hpp_clean_df.shape)
hpp_clean_df

,Country,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [6]:
# Replace country name to match with 'happiness_df'.
hpp_clean_df["Country"].replace(['Slovak Republic', 'Korea, Rep.','Kyrgyz Republic','Russian Federation','Hong Kong SAR, China','Congo, Rep.',
                                           "Cote d'Ivoire",'Gambia, The','Lao PDR','Venezuela, RB','Eswatini','Iran, Islamic Rep.','Egypt, Arab Rep.',
                                          'Yemen, Rep.','Palestinian Territories','Taiwan Province of China'], 
                                          ['Slovakia','South Korea','Kyrgyzstan','Russia','Hong Kong',"Congo (Brazzaville)",'Ivory Coast','Gambia',
                                           'Laos','Venezuela','Swaziland','Iran','Egypt', 'Yemen','Palestine','Taiwan'], inplace = True)

In [8]:
# Check column types.
hpp_clean_df.dtypes

Country                          object
Happiness score                 float64
Logged GDP per capita           float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [9]:
# Check null values.
hpp_clean_df.isnull().sum()

Country                         0
Happiness score                 0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [10]:
# do a df.describe() on "Happiness score"
hpp_clean_df["Happiness score"].describe()

count    149.000000
mean       5.532839
std        1.073924
min        2.523000
25%        4.852000
50%        5.534000
75%        6.255000
max        7.842000
Name: Happiness score, dtype: float64

#### Create binary column "IS_HAPPY"
- to be utilized in the future for Machine Learning Model(unsupervised)

In [11]:
# create "IS_HAPPY" column (binary outputs [Yes:1, No:0])

happy = []

for value in hpp_clean_df["Happiness score"]:
    if value >= 5.5:
        happy.append(1)
    elif value < 5.5:
        happy.append(0)

# Add column to dataframe then inspect afterwards

hpp_clean_df["IS_HAPPY"] = happy

hpp_clean_df.head(10)

,Country,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,IS_HAPPY
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,1
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179,1
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292,1
3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673,1
4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338,1
5,Norway,7.392,11.053,0.954,73.3,0.960,0.093,0.270,1
6,Sweden,7.363,10.867,0.934,72.7,0.945,0.086,0.237,1
7,Luxembourg,7.324,11.647,0.908,72.6,0.907,-0.034,0.386,1
8,New Zealand,7.277,10.643,0.948,73.4,0.929,0.134,0.242,1
9,Austria,7.268,10.906,0.934,73.3,0.908,0.042,0.481,1

In [12]:
# inspect values of new column
hpp_clean_df["IS_HAPPY"].value_counts()

1    75
0    74
Name: IS_HAPPY, dtype: int64

## Country Coordinates(country-coordinates-world.csv)

In [13]:
# Load the country coordinates dataset.
file_path = "../Resources/country-coordinates-world.csv"
country_coordinates_df = pd.read_csv(file_path)
country_coordinates_df.head()

    latitude   longitude         Country
0  33.939110   67.709953     Afghanistan
1  41.153332   20.168331         Albania
2  28.033886    1.659626         Algeria
3 -14.270972 -170.132217  American Samoa
4  42.546245    1.601554         Andorra

## Mortality Data 2021(MortalityDataWHR2021C2.csv)
- We want mainly the `Gini Index` and determine the use of other columns that may be relevant

In [14]:
# Load the Mortality Report dataset from the World Happiness Report 2021.
file_path = "../Resources/MortalityDataWHR2021C2.csv"
mortality_df = pd.read_csv(file_path)

# Re-name column to ensure merge later on
mortality_df.rename(columns = {'Country name':'Country'}, inplace = True)
mortality_df.head()


# Replace country name to match with 'happiness_df'.
mortality_df["Country"].replace(['Slovak Republic', 'Korea, Rep.','Kyrgyz Republic','Russian Federation','Hong Kong S.A.R. of China','Congo, Rep.',
                                           "Cote d'Ivoire",'Gambia, The','Lao PDR','Venezuela, RB','Eswatini','Iran, Islamic Rep.','Egypt, Arab Rep.',
                                          'Yemen, Rep.','Palestinian Territories','Taiwan Province of China'], 
                                          ['Slovakia','South Korea','Kyrgyzstan','Russia','Hong Kong',"Congo (Brazzaville)",'Ivory Coast','Gambia',
                                           'Laos','Venezuela','Swaziland','Iran','Egypt', 'Yemen','Palestine','Taiwan'], inplace = True)

# Display
mortality_df.head()

,Country,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,United States,331002647.0,328239523.0,104.451,38.3,0,1.688,9.315,0,0,0.250,47.51,2810927.0,2839076.0,2852747.0,3424996.0,179.22
1,Egypt,102334403.0,100388073.0,7.457,25.3,0,1.627,9.007,0,0,0.446,31.56,NaN,NaN,NaN,NaN,NaN
2,Morocco,36910558.0,36471769.0,20.016,29.6,0,2.336,9.226,0,0,0.397,39.55,NaN,NaN,NaN,NaN,NaN
3,Lebanon,6825442.0,6855713.0,21.508,31.1,0,1.891,8.956,0,0,0.107,31.83,NaN,NaN,NaN,NaN,NaN
4,Saudi Arabia,34813867.0,34268528.0,17.875,31.9,0,1.250,8.897,0,0,0.651,45.90,NaN,NaN,NaN,NaN,NaN

In [15]:
# Extract necessray columns and make a new Dataframe.
gini_index = mortality_df[['Country', 'Index of institutional trust', 'Gini coefficient of income']]
gini_index.head()

         Country  Index of institutional trust  Gini coefficient of income
0  United States                         0.250                       47.51
1          Egypt                         0.446                       31.56
2        Morocco                         0.397                       39.55
3        Lebanon                         0.107                       31.83
4   Saudi Arabia                         0.651                       45.90

In [30]:
# gini_index["Country"].replace('Eswatini','Swaziland') #, inplace=True
print(gini_index.shape)
gini_index.head()

(166, 3)

         Country  Index of institutional trust  Gini coefficient of income
0  United States                         0.250                       47.51
1          Egypt                         0.446                       31.56
2        Morocco                         0.397                       39.55
3        Lebanon                         0.107                       31.83
4   Saudi Arabia                         0.651                       45.90

In [17]:
# Check null values.
gini_index.isnull().sum()

Country                         0
Index of institutional trust    1
Gini coefficient of income      2
dtype: int64

## Unemployment(Unemployment_data_2021.csv)

In [18]:
# Load the unemployment 2021 dataset from World Bank data.
file_path = "../Resources/Unemployment_data_2021.csv"
country_unempl_df = pd.read_csv(file_path)

# Re-name column to ensure merge later on
country_unempl_df.rename(columns = {'Country Name':'Country'}, inplace = True)

country_unempl_df.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.562179,6.445456,6.405196,6.490041,6.610205,6.714955,6.731163,6.914353,7.563187,8.111783
2,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.341000,11.193000,11.142000,11.127000,11.158000,11.180000,11.152000,11.217000,11.710000,13.283000
3,Africa Western and Central,AFW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.637602,4.410216,4.688088,4.626737,5.567017,6.019505,6.041092,6.063362,6.774914,6.839009
4,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.347000,7.366000,7.372000,7.392000,7.412000,7.408000,7.421000,7.421000,8.333000,8.530000

In [19]:
# Replace country name to match with 'happiness_df'.
country_unempl_df["Country"].replace(['Slovak Republic', 'Korea, Rep.','Kyrgyz Republic','Russian Federation','Hong Kong SAR, China','Congo, Rep.',
                                           "Cote d'Ivoire",'Gambia, The','Lao PDR','Venezuela, RB','Eswatini','Iran, Islamic Rep.','Egypt, Arab Rep.',
                                          'Yemen, Rep.','Palestinian Territories','Taiwan Province of China'], 
                                          ['Slovakia','South Korea','Kyrgyzstan','Russia','Hong Kong',"Congo (Brazzaville)",'Ivory Coast','Gambia',
                                           'Laos','Venezuela','Swaziland','Iran','Egypt', 'Yemen','Palestine','Taiwan'], inplace = True)

In [20]:
# Extract necessary columns and make a new DataFrame.
unempl_df = country_unempl_df[['Country', '2021']]
#unempl_df.head()


print(unempl_df.shape)
unempl_df.head()

(266, 2)

                       Country       2021
0                        Aruba        NaN
1  Africa Eastern and Southern   8.111783
2                  Afghanistan  13.283000
3   Africa Western and Central   6.839009
4                       Angola   8.530000

## IGNORE FOR NOW DO NOT DELETE YET

In [21]:
# # Initial imports
# import pandas as pd
# import plotly.express as px
# import hvplot.pandas
# from path import Path
# from sklearn.preprocessing import StandardScaler, MinMaxScaler
# from sklearn.decomposition import PCA
# from sklearn.cluster import KMeans
# import warnings
# warnings.filterwarnings('ignore')
# import numpy as np
# import statsmodels.api as sm
# from statsmodels.formula.api import ols
# import seaborn as sns
# import matplotlib.pyplot as plt

In [22]:
# #print(hpp_unempl_gini.corr())
# # setting the dimensions of the plot
# fig, ax = plt.subplots(figsize=(10, 8))
# # plotting correlation heatmap
# #dataplot = sb.heatmap(hpp_unempl_gini.corr(), cmap="rocket_r", annot=True, ax=ax)
# dataplot = sns.heatmap(hppiness_final.corr(), cmap="vlag", annot=True, ax=ax)
  
# # displaying heatmap
# plt.show

In [23]:
# # Export data(for further manipulation if need be)

# hppiness_df.to_csv('Export_files/happiness_report_2021.csv',index = False, header=True)

# country_unempl_df.to_csv('Export_files/unemployment_2021.csv',index = False, header=True)

# gini_index.to_csv('Export_files/gini_index_2021.csv',index = False, header=True)

## Load Data to SQL Database

#  <font color='red'>Important</font>
- make sure to install: pip install SQLAlchemy (https://docs.sqlalchemy.org/en/14/intro.html#installation)
- make sure to install: pip install psycopg2-binary
- make sure to set up `config.py` to capture your PGadmin password(This will not be visible in repo due to `.gitignore`)

### World Happiness Report Load to SQL

In [24]:

"postgresql://[user]:[password]@[location]:[port]/[database]"
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/world_happiness"
engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in hpp_clean_df:
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    hpp_clean_df.to_sql(name='happiness_clean', con=engine, if_exists='replace', index = False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 7...Done. 0.10981893539428711 total seconds elapsed
importing rows 7 to 22...Done. 0.14868688583374023 total seconds elapsed
importing rows 22 to 43...Done. 0.18761110305786133 total seconds elapsed
importing rows 43 to 57...Done. 0.2255094051361084 total seconds elapsed
importing rows 57 to 80...Done. 0.2966585159301758 total seconds elapsed
importing rows 80 to 108...Done. 0.3345615863800049 total seconds elapsed
importing rows 108 to 118...Done. 0.37243151664733887 total seconds elapsed
importing rows 118 to 143...Done. 0.4113278388977051 total seconds elapsed
importing rows 143 to 151...Done. 0.4512214660644531 total seconds elapsed

## Country Coordinates to SQL

In [25]:


rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in country_coordinates_df:
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    country_coordinates_df.to_sql(name='country_coordinates', con=engine, if_exists='replace', index = False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 8...Done. 0.04288673400878906 total seconds elapsed
importing rows 8 to 17...Done. 0.08477354049682617 total seconds elapsed
importing rows 17 to 24...Done. 0.12566399574279785 total seconds elapsed

## Gini_index(derived from Mortality Dataset 2021) to SQL

In [26]:

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in gini_index:
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    gini_index.to_sql(name='gini_index', con=engine, if_exists='replace', index = False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 7...Done. 0.03489851951599121 total seconds elapsed
importing rows 7 to 35...Done. 0.06981039047241211 total seconds elapsed
importing rows 35 to 61...Done. 0.10372018814086914 total seconds elapsed

## Unemployment 2021 to SQL

In [27]:
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in unempl_df:
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    unempl_df.to_sql(name='unemployment', con=engine, if_exists='replace', index = False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 7...Done. 0.04236626625061035 total seconds elapsed
importing rows 7 to 11...Done. 0.08322906494140625 total seconds elapsed

In [28]:
engine.execute("SELECT * FROM happiness_clean").fetchall()

[('Finland', 7.8420000000000005, 10.775, 0.9540000000000001, 72.0, 0.9490000000000001, -0.098, 0.18600000000000003, 1),
 ('Denmark', 7.62, 10.933, 0.9540000000000001, 72.7, 0.946, 0.03, 0.179, 1),
 ('Switzerland', 7.571000000000001, 11.117, 0.9420000000000001, 74.4, 0.919, 0.025, 0.292, 1),
 ('Iceland', 7.553999999999999, 10.878, 0.983, 73.0, 0.955, 0.16, 0.6729999999999999, 1),
 ('Netherlands', 7.4639999999999995, 10.932, 0.9420000000000001, 72.4, 0.9129999999999999, 0.175, 0.33799999999999997, 1),
 ('Norway', 7.392, 11.052999999999999, 0.9540000000000001, 73.3, 0.96, 0.09300000000000001, 0.27, 1),
 ('Sweden', 7.3629999999999995, 10.867, 0.934, 72.7, 0.945, 0.086, 0.237, 1),
 ('Luxembourg', 7.324, 11.647, 0.9079999999999999, 72.6, 0.907, -0.034, 0.386, 1),
 ('New Zealand', 7.277, 10.642999999999999, 0.948, 73.4, 0.929, 0.134, 0.242, 1),
 ('Austria', 7.268, 10.905999999999999, 0.934, 73.3, 0.9079999999999999, 0.042, 0.48100000000000004, 1),
 ('Australia', 7.183, 10.796, 0.94, 73.9, 0.914, 0.159, 0.442, 1),
 ('Israel', 7.157, 10.575, 0.9390000000000001, 73.503, 0.8, 0.031, 0.753, 1),
 ('Germany', 7.155, 10.873, 0.903, 72.5, 0.875, 0.011000000000000001, 0.46, 1),
 ('Canada', 7.103, 10.776, 0.9259999999999999, 73.8, 0.915, 0.08900000000000001, 0.415, 1),
 ('Ireland', 7.085, 11.342, 0.9470000000000001, 72.4, 0.879, 0.077, 0.363, 1),
 ('Costa Rica', 7.069, 9.88, 0.8909999999999999, 71.4, 0.934, -0.126, 0.809, 1),
 ('United Kingdom', 7.064, 10.707, 0.934, 72.5, 0.8590000000000001, 0.233, 0.45899999999999996, 1),
 ('Czech Republic', 6.965, 10.556, 0.9470000000000001, 70.807, 0.858, -0.20800000000000002, 0.868, 1),
 ('United States', 6.9510000000000005, 11.023, 0.92, 68.2, 0.8370000000000001, 0.098, 0.698, 1),
 ('Belgium', 6.834, 10.823, 0.9059999999999999, 72.199, 0.7829999999999999, -0.153, 0.6459999999999999, 1),
 ('France', 6.69, 10.704, 0.9420000000000001, 74.0, 0.8220000000000001, -0.147, 0.5710000000000001, 1),
 ('Bahrain', 6.647, 10.669, 0.862, 69.495, 0.925, 0.08900000000000001, 0.722, 1),
 ('Malta', 6.602, 10.674000000000001, 0.9309999999999999, 72.2, 0.927, 0.133, 0.653, 1),
 ('Taiwan', 6.584, 10.870999999999999, 0.898, 69.6, 0.784, -0.07, 0.721, 1),
 ('United Arab Emirates', 6.561, 11.085, 0.8440000000000001, 67.333, 0.932, 0.07400000000000001, 0.589, 1),
 ('Saudi Arabia', 6.494, 10.743, 0.8909999999999999, 66.60300000000001, 0.877, -0.149, 0.684, 1),
 ('Spain', 6.4910000000000005, 10.571, 0.932, 74.7, 0.7609999999999999, -0.081, 0.745, 1),
 ('Italy', 6.483, 10.623, 0.88, 73.8, 0.693, -0.084, 0.866, 1),
 ('Slovenia', 6.461, 10.529000000000002, 0.948, 71.4, 0.9490000000000001, -0.10099999999999999, 0.8059999999999999, 1),
 ('Guatemala', 6.435, 9.052999999999999, 0.813, 64.958, 0.9059999999999999, -0.038, 0.775, 1),
 ('Uruguay', 6.431, 9.966000000000001, 0.925, 69.1, 0.8959999999999999, -0.092, 0.59, 1),
 ('Singapore', 6.377000000000001, 11.488, 0.915, 76.953, 0.927, -0.018000000000000002, 0.08199999999999999, 1),
 ('Kosovo', 6.372000000000001, 9.318, 0.821, 63.813, 0.8690000000000001, 0.257, 0.917, 1),
 ('Slovakia', 6.331, 10.369000000000002, 0.9359999999999999, 69.20100000000001, 0.7659999999999999, -0.124, 0.9109999999999999, 1),
 ('Brazil', 6.33, 9.577, 0.882, 66.601, 0.804, -0.071, 0.7559999999999999, 1),
 ('Mexico', 6.317, 9.859, 0.831, 68.597, 0.862, -0.147, 0.799, 1),
 ('Jamaica', 6.309, 9.186, 0.877, 67.5, 0.89, -0.13699999999999998, 0.884, 1),
 ('Lithuania', 6.255, 10.499, 0.935, 67.906, 0.773, -0.203, 0.826, 1),
 ('Cyprus', 6.223, 10.575999999999999, 0.802, 73.898, 0.763, -0.015, 0.8440000000000001, 1),
 ('Estonia', 6.189, 10.481, 0.941, 68.8, 0.909, -0.106, 0.527, 1),
 ('Panama', 6.18, 10.35, 0.8959999999999999, 69.652, 0.872, -0.166, 0.856, 1),
 ('Uzbekistan', 6.178999999999999, 8.836, 0.9179999999999999, 65.255, 0.97, 0.311, 0.515, 1),
 ('Chile', 6.172000000000001, 10.071, 0.882, 70.0, 0.742, -0.044000000000000004, 0.83, 1),
 ('Poland', 6.166, 10.382, 0.898, 69.702, 0.841, -0.165, 0.735, 1),
 ('Kazakhstan', 6.152, 10.155, 0.9520000000000001, 65.2, 0.853, -0.069, 0.733, 1),
 ('Romania', 6.14, 10.284, 0.8320000000000001, 67.355, 0.845, -0.21899999999999997, 0.938, 1),
 ('Kuwait', 6.106, 10.817, 0.843, 66.9, 0.867, -0.10400000000000001, 0.736, 1),
 ('Serbia', 6.077999999999999, 9.787, 0.873, 68.6, 0.778, 0.002, 0.835, 1),
 ('El Salvador', 6.061, 9.054, 0.762, 66.402, 0.888, -0.11, 0.688, 1),
 ('Mauritius', 6.0489999999999995, 10.008, 0.905, 66.70100000000001, 0.867, -0.054000000000000006, 0.789, 1),
 ('Latvia', 6.032, 10.315, 0.927, 67.1, 0.715, -0.162, 0.8, 1),
 ('Colombia', 6.0120000000000005, 9.557, 0.847, 68.001, 0.8370000000000001, -0.135, 0.841, 1),
 ('Hungary', 5.992000000000001, 10.357999999999999, 0.943, 68.0, 0.755, -0.18600000000000003, 0.8759999999999999, 1),
 ('Thailand', 5.985, 9.805, 0.888, 67.40100000000001, 0.884, 0.287, 0.895, 1),
 ('Nicaragua', 5.972, 8.62, 0.8640000000000001, 67.657, 0.836, 0.02, 0.664, 1),
 ('Japan', 5.94, 10.610999999999999, 0.884, 75.1, 0.7959999999999999, -0.258, 0.638, 1),
 ('Argentina', 5.928999999999999, 9.962, 0.898, 69.0, 0.828, -0.182, 0.8340000000000001, 1),
 ('Portugal', 5.928999999999999, 10.421, 0.879, 72.6, 0.892, -0.244, 0.887, 1),
 ('Honduras', 5.919, 8.648, 0.812, 67.3, 0.857, 0.081, 0.809, 1),
 ('Croatia', 5.882000000000001, 10.217, 0.924, 70.79899999999999, 0.754, -0.11800000000000001, 0.9390000000000001, 1),
 ('Philippines', 5.88, 9.076, 0.83, 62.0, 0.917, -0.09699999999999999, 0.742, 1),
 ('South Korea', 5.845, 10.651, 0.799, 73.9, 0.672, -0.083, 0.727, 1),
 ('Peru', 5.84, 9.458, 0.8320000000000001, 68.25, 0.8220000000000001, -0.154, 0.8909999999999999, 1),
 ('Bosnia and Herzegovina', 5.813, 9.59, 0.87, 68.098, 0.706, 0.113, 0.9309999999999999, 1),
 ('Moldova', 5.766, 9.454, 0.857, 65.699, 0.8220000000000001, -0.079, 0.9179999999999999, 1),
 ('Ecuador', 5.763999999999999, 9.312999999999999, 0.821, 68.8, 0.8420000000000001, -0.124, 0.843, 1),
 ('Kyrgyzstan', 5.744, 8.538, 0.893, 64.40100000000001, 0.935, 0.11900000000000001, 0.9079999999999999, 1),
 ('Greece', 5.723, 10.279000000000002, 0.823, 72.6, 0.5820000000000001, -0.28800000000000003, 0.823, 1),
 ('Bolivia', 5.716, 9.046, 0.81, 63.901, 0.875, -0.077, 0.8390000000000001, 1),
 ('Mongolia', 5.6770000000000005, 9.4, 0.935, 62.5, 0.708, 0.11599999999999999, 0.856, 1),
 ('Paraguay', 5.653, 9.448, 0.893, 65.9, 0.8759999999999999, 0.027999999999999997, 0.882, 1),
 ('Montenegro', 5.581, 9.94, 0.858, 68.699, 0.708, -0.034, 0.812, 1),
 ('Dominican Republic', 5.545, 9.802, 0.853, 66.102, 0.86, -0.133, 0.7140000000000001, 1),
 ('North Cyprus', 5.5360000000000005, 10.575999999999999, 0.82, 73.898, 0.795, 0.012, 0.626, 1),
 ('Belarus', 5.534, 9.853, 0.91, 66.253, 0.65, -0.18, 0.627, 1),
 ('Russia', 5.477, 10.189, 0.903, 64.703, 0.718, -0.111, 0.845, 0),
 ('Hong Kong', 5.477, 11.0, 0.836, 76.82, 0.7170000000000001, 0.067, 0.40299999999999997, 0),
 ('Tajikistan', 5.466, 8.091000000000001, 0.86, 64.281, 0.8320000000000001, -0.055999999999999994, 0.5529999999999999, 0),
 ('Vietnam', 5.4110000000000005, 8.972999999999999, 0.85, 68.03399999999999, 0.94, -0.098, 0.7959999999999999, 0),
 ('Libya', 5.41, 9.622, 0.8270000000000001, 62.3, 0.7709999999999999, -0.087, 0.667, 0),
 ('Malaysia', 5.3839999999999995, 10.238, 0.8170000000000001, 67.102, 0.895, 0.125, 0.8390000000000001, 0),
 ('Indonesia', 5.345, 9.365, 0.8109999999999999, 62.236000000000004, 0.873, 0.542, 0.867, 0),
 ('Congo (Brazzaville)', 5.3420000000000005, 8.117, 0.636, 58.221000000000004, 0.695, -0.068, 0.745, 0),
 ('China', 5.3389999999999995, 9.673, 0.8109999999999999, 69.593, 0.904, -0.146, 0.755, 0),
 ('Ivory Coast', 5.306, 8.551, 0.644, 50.114, 0.741, -0.016, 0.794, 0),
 ('Armenia', 5.2829999999999995, 9.487, 0.799, 67.055, 0.825, -0.168, 0.629, 0),
 ('Nepal', 5.269, 8.12, 0.774, 64.233, 0.782, 0.152, 0.727, 0),
 ('Bulgaria', 5.266, 10.016, 0.9309999999999999, 67.0, 0.7879999999999999, -0.096, 0.932, 0),
 ('Maldives', 5.1979999999999995, 9.826, 0.9129999999999999, 70.6, 0.8540000000000001, 0.024, 0.825, 0),
 ('Azerbaijan', 5.171, 9.568999999999999, 0.836, 65.656, 0.8140000000000001, -0.223, 0.506, 0),
 ('Cameroon', 5.142, 8.189, 0.71, 53.515, 0.731, 0.026000000000000002, 0.848, 0),
 ('Senegal', 5.132000000000001, 8.118, 0.71, 59.802, 0.695, -0.046, 0.8009999999999999, 0),
 ('Albania', 5.117, 9.52, 0.6970000000000001, 68.999, 0.785, -0.03, 0.9009999999999999, 0),
 ('North Macedonia', 5.101, 9.693, 0.805, 65.47399999999999, 0.7509999999999999, 0.038, 0.905, 0),
 ('Ghana', 5.088, 8.58, 0.727, 57.586000000000006, 0.807, 0.12300000000000001, 0.848, 0),
 ('Niger', 5.074, 7.098, 0.6409999999999999, 53.78, 0.8059999999999999, 0.018000000000000002, 0.693, 0),
 ('Turkmenistan', 5.066, 9.629, 0.983, 62.409, 0.877, 0.273, 0.888, 0),
 ('Gambia', 5.051, 7.686, 0.69, 55.16, 0.6970000000000001, 0.424, 0.746, 0),
 ('Benin', 5.045, 8.087, 0.489, 54.713, 0.757, -0.034, 0.6609999999999999, 0),
 ('Laos', 5.03, 8.947000000000001, 0.728, 58.968, 0.91, 0.12300000000000001, 0.6579999999999999, 0),
 ('Bangladesh', 5.025, 8.454, 0.693, 64.8, 0.877, -0.040999999999999995, 0.682, 0),
 ('Guinea', 4.984, 7.837999999999999, 0.639, 55.008, 0.6970000000000001, 0.095, 0.7659999999999999, 0),
 ('South Africa', 4.956, 9.402999999999999, 0.86, 56.903999999999996, 0.7490000000000001, -0.067, 0.86, 0),
 ('Turkey', 4.948, 10.24, 0.8220000000000001, 67.199, 0.5760000000000001, -0.139, 0.7759999999999999, 0),
 ('Pakistan', 4.934, 8.458, 0.6509999999999999, 58.708999999999996, 0.726, 0.098, 0.787, 0),
 ('Morocco', 4.918, 8.902999999999999, 0.56, 66.208, 0.774, -0.23600000000000002, 0.8009999999999999, 0),
 ('Venezuela', 4.8919999999999995, 9.073, 0.861, 66.7, 0.615, -0.16899999999999998, 0.8270000000000001, 0),
 ('Georgia', 4.891, 9.585, 0.6709999999999999, 64.3, 0.7829999999999999, -0.23800000000000002, 0.655, 0),
 ('Algeria', 4.887, 9.342, 0.802, 66.005, 0.48, -0.067, 0.752, 0),
 ('Ukraine', 4.875, 9.436, 0.888, 64.902, 0.7240000000000001, -0.011000000000000001, 0.924, 0),
 ('Iraq', 4.854, 9.24, 0.746, 60.583, 0.63, -0.053, 0.875, 0),
 ('Gabon', 4.852, 9.603, 0.7759999999999999, 59.961999999999996, 0.731, -0.2, 0.84, 0),
 ('Burkina Faso', 4.834, 7.678, 0.672, 54.151, 0.695, -0.009000000000000001, 0.748, 0),
 ('Cambodia', 4.83, 8.36, 0.765, 62.0, 0.9590000000000001, 0.034, 0.843, 0),
 ('Mozambique', 4.794, 7.1579999999999995, 0.7440000000000001, 54.706, 0.882, 0.061, 0.684, 0),
 ('Nigeria', 4.7589999999999995, 8.533, 0.74, 50.102, 0.737, 0.037000000000000005, 0.878, 0),
 ('Mali', 4.723, 7.744, 0.7240000000000001, 51.968999999999994, 0.6970000000000001, -0.036000000000000004, 0.8270000000000001, 0),
 ('Iran', 4.721, 9.584, 0.71, 66.3, 0.608, 0.218, 0.7140000000000001, 0),
 ('Uganda', 4.636, 7.6770000000000005, 0.7809999999999999, 56.101000000000006, 0.7090000000000001, 0.122, 0.855, 0),
 ('Liberia', 4.625, 7.287999999999999, 0.72, 56.498000000000005, 0.735, 0.05, 0.85, 0),
 ('Kenya', 4.607, 8.361, 0.688, 60.70399999999999, 0.779, 0.287, 0.825, 0),
 ('Tunisia', 4.596, 9.266, 0.691, 67.20100000000001, 0.6559999999999999, -0.201, 0.87, 0),
 ('Lebanon', 4.584, 9.626, 0.848, 67.355, 0.525, -0.073, 0.898, 0),
 ('Namibia', 4.574, 9.161, 0.818, 56.799, 0.7190000000000001, -0.149, 0.847, 0),
 ('Palestine', 4.5169999999999995, 8.485, 0.826, 62.25, 0.653, -0.163, 0.821, 0),
 ('Myanmar', 4.426, 8.541, 0.779, 59.302, 0.8759999999999999, 0.509, 0.66, 0),
 ('Jordan', 4.395, 9.182, 0.767, 67.0, 0.755, -0.16699999999999998, 0.705, 0),
 ('Chad', 4.355, 7.364, 0.619, 48.478, 0.579, 0.040999999999999995, 0.807, 0),
 ('Sri Lanka', 4.325, 9.47, 0.8270000000000001, 67.29899999999999, 0.841, 0.079, 0.863, 0),
 ('Swaziland', 4.308, 9.065, 0.77, 50.833, 0.647, -0.185, 0.708, 0),
 ('Comoros', 4.289, 8.031, 0.626, 57.349, 0.5479999999999999, 0.08199999999999999, 0.7809999999999999, 0),
 ('Egypt', 4.283, 9.367, 0.75, 61.998000000000005, 0.7490000000000001, -0.182, 0.795, 0),
 ('Ethiopia', 4.275, 7.694, 0.764, 59.0, 0.752, 0.08199999999999999, 0.7609999999999999, 0),
 ('Mauritania', 4.227, 8.542, 0.795, 57.161, 0.561, -0.106, 0.731, 0),
 ('Madagascar', 4.208, 7.396, 0.6859999999999999, 59.305, 0.552, -0.005, 0.8029999999999999, 0),
 ('Togo', 4.107, 7.362, 0.569, 54.913999999999994, 0.619, 0.032, 0.772, 0),
 ('Zambia', 4.073, 8.145, 0.708, 55.809, 0.782, 0.061, 0.823, 0),
 ('Sierra Leone', 3.8489999999999998, 7.434, 0.63, 51.651, 0.7170000000000001, 0.084, 0.866, 0),
 ('India', 3.819, 8.755, 0.603, 60.633, 0.893, 0.08900000000000001, 0.774, 0),
 ('Burundi', 3.775, 6.635, 0.49, 53.4, 0.626, -0.024, 0.607, 0),
 ('Yemen', 3.658, 7.577999999999999, 0.8320000000000001, 57.122, 0.602, -0.147, 0.8, 0),
 ('Tanzania', 3.623, 7.876, 0.7020000000000001, 57.998999999999995, 0.833, 0.183, 0.5770000000000001, 0),
 ('Haiti', 3.615, 7.477, 0.54, 55.7, 0.593, 0.42200000000000004, 0.721, 0),
 ('Malawi', 3.6, 6.957999999999999, 0.537, 57.948, 0.78, 0.038, 0.7290000000000001, 0),
 ('Lesotho', 3.512, 7.926, 0.787, 48.7, 0.715, -0.131, 0.915, 0),
 ('Botswana', 3.467, 9.782, 0.784, 59.269, 0.8240000000000001, -0.24600000000000002, 0.8009999999999999, 0),
 ('Rwanda', 3.415, 7.676, 0.552, 61.4, 0.897, 0.061, 0.16699999999999998, 0),
 ('Zimbabwe', 3.145, 7.943, 0.75, 56.201, 0.677, -0.047, 0.821, 0),
 ('Afghanistan', 2.523, 7.695, 0.46299999999999997, 52.493, 0.382, -0.102, 0.924, 0)]